@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: 255 255 255;
  --color-bg-secondary: 244 244 245;

  --color-text: 24 24 27;
  --color-text-muted: 82 82 91;
  --purple: 168 85 247;
  --purple-hover: 147 51 234;

  --purple-soft: 168 85 247 / 0.12;
  --purple-soft-hover: 168 85 247 / 0.18;

  --mobile-drawer-bg: 255 255 255;        
  --mobile-drawer-border: 228 228 231;   
}

html.dark {
  --color-bg: 9 9 11;
  --color-bg-secondary: 24 24 27;

  --color-text: 244 244 245;
  --color-text-muted: 161 161 170;

  --purple-soft: 168 85 247 / 0.16;
  --purple-soft-hover: 168 85 247 / 0.22;

  --mobile-drawer-bg: 24 24 27;         
  --mobile-drawer-border: 39 39 42;   
}

html, body {
  background: rgb(var(--color-bg));
  color: rgb(var(--color-text));
}
